.header {
  width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 880px) {
  .header {
     min-width: 282px;
     width: 100%;
   }
 }

@media screen and (max-width: 600px) {
  .footer__copyright {
    margin-top: 48px;
    font-size: 14px;
    line-height: 17px;
  }
}
